#researchWrapper {
	display: block;
	position: relative;
	width: 60%;
	margin-left: 20%;
}

h3	{
	font-size: 16px !important;
	font-weight: 600;
	/*line-height: normal;*/
}

li {
	font-weight: 500;
	font-size: 14px;
}

.headerRow {
	/*font-size: .75em;*/
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
}

.bodyText {
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.79;
	letter-spacing: normal;
	color: #000000;
}

.bodyText span {
	font-weight: 600;
}

#ecosystemModel {
	display: block;
	position: relative;
	width: 60%;
}

#methodIcons {
	display: flex;
	position: relative;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

#methodIcon1 {
	order: 1;
}

#methodIcon2 {
	order: 2;
}

#methodIcon3 {
	order: 3;
}

#methodIcons div {
	background-color: #b4d1f2;
	height: 100px;
	width: 100px;
}

#gapModelWrapper {
	display: block;
	position: relative;
	width: 100%;
}

#gapModel {
	width: 100%;
}

.insight {
	font-weight: bold;
}
.insightQuote {
	display: block;
	position: relative;
	width: 40%;
	margin-left: 35%;
	padding: 2.5%;
	background-color: #cfd8dc;
	font-style: italic;
}

#footerRow {
	left: 0px !important;
}