<div id="researchWrapper">
	<h1>Research</h1>

	<div class="headerRow">
		<div></div>
		<p>Overview</p>
	</div>

	<div>
		<h3>About our Project</h3>
		<p>How are non-technical skills currently being assessed for secondary school students? Which non-technical skills are the most important for students who would want to pursue STEM careers in the future? Methods for unpacking these questions included literature review, expert interviews, stakeholder interviews, and competitive analysis, as well as cognitive task analysis with twelfth-graders. This process revealed the key role of critical thinking. Our findings are organized to step through why we focused on critical thinking, what critical thinking entails, and how critical thinking is used across stakeholder groups.</p>
	</div>

	<div>
		<h3>Hunt Statement</h3>
		<p>We will analyze the alignment of existing non-technical skills course materials and research on learning science to design robust assessments that empower secondary school students to develop, evaluate, and demonstrate the critical thinking skills required for 21st century careers in data science, AI, CS and cybersecurity.</p>
	</div>

	<div class="headerRow">
		<div></div>
		<p>Introduction</p>
	</div>

	<div>
		<h3>Research Scope</h3>
		<p>Our ideation was informed by research methods including literature review, interviews, competitive analysis, and affinity diagramming. Our research was guided by three components:</p>
		<ol>
			<li>Understanding non-technical skills and employability</li>
			<li>Understanding critical thinking in secondary school</li>
			<li>Understanding critical thinking in computer science related work</li>
		</ol>
	</div>

	<img src="./assets/ecosystem_model.png" id="ecosystemModel">

	<div>
		<h3>Research Methods</h3>
		<p>To better understand employees', recruiters', students' and teachers' perceptions of critical thinking skills, we conducted theoretical and empirical research</p>
	</div>

	<div id="methodIcons">
		<div id="methodIcon1">Literature Review</div>
		<div id="methodIcon2">Competative Analysis</div>
		<div id="methodIcon3">User Interviews</div>
	</div>

	<div class="headerRow">
		<div></div>
		<p>Insights</p>
	</div>

	<div>
		<h3>About the Gap Model</h3>
		<p>
			The gap model is the highest-level synthesis of our research. It draws on findings from all of our stakeholder interviews, as well as our literature review to contrast the use of critical thinking skills in workplace and secondary school contexts. Through it, we highlight the gaps between academic practice and the demands of 21st century computer science careers. 
		</p>
		<p>
			During affinity diagramming, we grouped and categorized examples of non-technical skills being put into practice in both computer science careers and secondary school coursework. Comparing the two contexts revealed clear overlaps, near overlaps, and, of most interest, gaps. 
		</p>
	</div>

	<div id="gapModelWrapper">
		<img id="gapModel" src="./assets/gap_model.png">
	</div>


	<div>
		<h3>Insights</h3>
		<!-- Insight 1 -->
		<p class="insight">Insight 1: Critical thinking is vital to employability in computer science careers.</p>
		<p class="insightQuote">
			We really want candidates to talk through on what they are thinking - what their next steps would be like for a particular problem and why they are not doing a particular route to solve a problem. Even if they are able to do that on a very low level even without a coding question, I think that’s usually a good indicator. <br> - CS Employee
		</p>
		<p>
			Currently, secondary school students get most of their critical thinking practiced during project work, often in pairs or teams. Critical thinking skills are rarely taught explicitly, but rather, are subtly integrated into coursework. As a result, secondary school students generally have, at best, a vague understanding of what critical thinking skills are and how they are valued by employers.
		</p>

		<!-- Insight 2 -->
		<p class="insight">
			Insight 2: Students don’t receive explicit instruction defining critical thinking skills and consequently don’t know what critical thinking is.
		</p>
		<p class="insightQuote">
			I wish I had more education on strategic thinking in a big picture way during high school. I would have learnt how to ask better questions. 
			<br> - CS Employee
		</p>
		<p>
			Currently, secondary school students get most of their critical thinking practiced during project work, often in pairs or teams. Critical thinking skills are rarely taught explicitly, but rather, are subtly integrated into coursework. As a result, secondary school students generally have, at best, a vague understanding of what critical thinking skills are and how they are valued by employers.
		</p>		

		<!-- Insight 3 -->
		<p class="insight">
			Insight 3: Secondary school students are impulsive and have difficulty generating and evaluating ideas with an open mind.
		</p>
		<p class="insightQuote">
			Open-mindedness is the most important thing. Everyone relies on his or her previous experience to make judgements and decisions. Open-mindedness means you give an opportunity to all the solutions and evaluate all the solutions and then choose the best solution. 
			<br> - CS Employee
		</p>
		<p>
			Secondary school students tend to emotionally commit to their first idea, often without generating alternatives, let alone evaluating them objectively or seeking critique. Often when high schoolers reason about their ideas, they are rationalizing to produce a justification of an idea they are already committed to rather than evaluating advantages and disadvantages with an open mind. This results in lower-quality ideation and is a part of why employers have difficulty finding entry level applicants who excel at rational and/or collaborative decision making.
		</p>

		<!-- Insight 4 -->
		<p class="insight">
			Insight 4: Secondary school students rarely use reflection to iterate their work or their process
		</p>
		<p class="insightQuote">
			Even the most well considered solution is going to miss something and you are never going to skin the cat perfectly. If you have the ability to self-reflect or run meta-analysis on how you solved the problem in retrospect so that then you can then apply that information to whatever the problem is that you are solving at that moment. I think that sort of feedback loop is very very important.
			<br> - CS Employee
		</p>
		<p>
			One of the key gaps in the use of critical thinking skills in work vs academic contexts is how reflection is incorporated into project work. Reflection appears often in daily CS-related work, both to improve one’s work and one’s self. While reflection is integrated iteratively into the problem solving process in workplace contexts, in school, reflection is largely relegated to discrete exercises at the end of a project. The results of these reflections are not used to drive improvements because they represent the end of a project rather than a part of the process.
		</p>

	</div> <!-- End insights -->

	<!-- Next Steps -->
	<div class="headerRow">
		<div></div>
		<p>Next Steps</p>
	</div>
	<h3>Summer Development</h3>
	<p>
		We drew on our research insights to generate and consolidate four potential solutions which could help secondary school students discover, learn, and demonstrate the critical thinking skills most essential to 21st century computer science careers. During our Spring Meeting, we workshopped our four ideas with our client in a co-design session to set our direction for the summer. During the summer semester, we will engage in prototyping, analysis, and user-testing to produce prototypes with increasing fidelity and iteratively test them with users to improve our design. The final product will be a high-fidelity working prototype. The capstone will culminate in a final presentation at the end of the summer phase to showcase our prototype.
	</p>

	<!-- Footer -->
	<div id="footerRow">
		<div id="footerContent">
			<h3>Team Xcelerate</h3>
			<p>Carnegie Mellon University</p>
			<p>5000 Forbes Avenue</p>
			<p>Pittsburgh, PA 15213</p>
		</div>
	</div>

</div> <!-- End research component -->
