.teamRow {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	margin: 7%;
	/*border: 2px solid black;*/
}

.teamRow img {
	order: 1;
	/*width: 14%;*/
	width: 223px;
	border-radius: 50%;
	/*border: 2px solid black;*/
}

.teamRow div {
	order: 2;
	width: 37%;
	/*width: 498px;*/
	/*border: 2px solid black;*/
}

h3	{
	font-size: 23px;
	letter-spacing: 0;
}
.teamName {
	font-weight: bold;
}

.teamRole {
	font-weight: normal;
	color: #b2b2b2;
}

p {
	font-size: 14px;
	line-height: 26px;
}