<app-team-row
	name="Juliet Pusateri"
	role="Coordinator"
	bio="Juliet works at the Cyert Center for Early Education & Program for Collaborative Learning at Carnegie Mellon University. Prior to joining the METALS program, Juliet was head of experiential learning for children & families as Assistant Curator of Education at Carnegie Museum of Art."
></app-team-row>

<app-team-row
	name="Qianhui Sun"
	role="Content Lead"
	bio="Qianhui has a BA in Management Science and Engineering from Nankai University. She has completed over 20 online courses on various platforms like Coursera, edX, and Hujiang since 2012. Her major interest in EdTech is to apply research results in education and cognitive science into learning media design."
></app-team-row>

<app-team-row
	name="Tanvi Domadia"
	role="Research Lead"
	bio="Tanvi has a Bachelors of Engineering in Computer Science from K.J. Somaiya College of Engineering in Mumbai, India. Before coming to METALS, she worked as a Senior SOftware Engineer at Tata Institute of Social Sciences to create interactive games and tools in education for high school students."
></app-team-row>

<app-team-row
	name="DuoDuo (Doris) Zhang"
	role="Design Lead"
	bio="Doris received a Master of Public Policy from University of Michigan. Her recent work experience includes positions as a Higher Education Policy Researcher at the American Action Formu in Washington, D.C. and a Research Assistant at the Congressional Management Foundation in Washington, D.C. Her fields of interest are higher education policy and design research."
></app-team-row>

<app-team-row
	name="Ryan Emberling"
	role="Developer"
	bio="Ryan has a BS in Philosophy and Mathematics from Trinity College. Before coming to METALS, he worked as an Educational Therapist, helping students develop their depth of processing, executive functioning, and memory systems, in addition to tutoring math, computer science, and science content."
></app-team-row>