<div id="homeWrapper">
	<div id="homeText">
		<h1>Critical Thinking in CS</h1>
		<p>While technical skills may get a student’s foot in the door when it comes to job-seeking, they are not enough to jumpstart a technical career in the 21st century. As educational resources for learning technical skills become ever-more available, it is increasingly important for applicants to differentiate themselves from their peers through soft skills. According to the Center for Curricular Redesign and Cimmati B. (2016), critical thinking skills are vitally important and extremely difficult to hire. With <strong>ReasonABLE,</strong> learners can cultivate and demonstrate the critical thinking skills most important to success in Computer Science careers.</p>
	</div>
	<div id="homeImg">
		
	</div>
</div>