<div id="homeWrapper">
	<div id="homeText">
		<h1>Critical Thinking in CS</h1>
		<p>71% of STEM careers are in computer science, and demand is only increasing. Microsoft currently helps learners of all ages develop the technical skills required to succeed in computer science careers through platforms like LinkedIn Learning, Microsoft Imagine Academy, and Microsoft Professional Program. Microsoft has developed tools and curricula designed to empower secondary school students to discover, learn, and demonstrate the skills required to become next generation of tech workers. In order to fully equip learners to meet the rising demands of 21st century careers, Microsoft has increasingly incorporated the instruction of non-technical skills into its curricula. </p>
	</div>
	<div id="homeImg">
		
	</div>
</div>