#homeWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 100px;
	height: 50%;
	margin-bottom: 133px;
}

#homeText {
	display: inline-block;
	order: 1;
	width: 34%;
	/*height: 400px;*/
}

#homeText p {
	font-size: 14px;
	letter-spacing: 0;
}

#homeImg {
	display: inline-block;
	order: 2;
	width: 51.6%;
	height: 655px;
	/*height: 70%;*/
	background-color: #b4d1f2;
}